@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded');
@import url('https://fonts.googleapis.com/css?family=Della+Respira');
#header_font{
    font-family: "Encode Sans Semi Expanded", sans-serif;
    color: #122236;
    text-shadow: rgb(0, 0, 0) .1px .1px .1px;
}
#logo_font {
    font-family: "Della Respira", serif;
    font-variant: small-caps;
    text-align: center;
    font-size: 35px;
    color: rgb(3, 39, 74);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}
#title_font{
    font-family: "Della Respira", serif;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    color: #262d3b;
    text-shadow: rgba(0, 0, 0, 0.34) 0px 2px 5px;
}
#text_font{
    font-family: "Della Respira", serif;
    text-align: left;
    font-size: 20px;
    color: #2c3545;
}
/* IMAGES */
img[src="./images/main_igloo.jpg"] {
    height: 80%;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-right: 5%;
    padding: 1%;
}
body {
    background-color: #eff4f9;
}
/* CONTAINER */
div.container {
    height: 97vh;
    width: 96vw;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(#f2f4f7,#b7bfd0);
}
/* HEADER */
div.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}
div[class*="header_"] {
    padding: 1%;
}
div.header_title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 70%;
    border-bottom: 1px solid #d1deef;
    width: 85%;
}
div.header_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    padding: 10px 15px;
    background-color: #d7e2f1;
    border: 1px solid #cbd9ed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
a.menu_logo {
    text-decoration: none;
    display: flex;
}
i[class*="igloo"] {
    padding-right: 15px;
    font-size: larger;
}
a[href*="signup"] {
    margin-right: 25px;
}
div.header_menu {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}
ul.menu_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 70%;
    margin: 0;
    background-color: #cbd9ed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
div.non_dropdown_menu_topics {
    display: flex;
    flex-direction: row;
}
a[href*="and_icon"] {
    display: flex;
}
div[class*="menu_icon"] {
    margin-right: 10px;
}
ul.menu_left {
    list-style-type: none;
}
li a, .dropbtn {
    display: inline-block;
    color: #182d49;
    font-weight: 700;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    opacity: 0.8;
}
li.dropdown {
    display: inline-block;
}
li a.menu_left {
    border-top: 3px groove #c4d5eb;
    border-left: 3px groove #c4d5eb;
    background-color: #dde7f3;
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #182d49;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d1deef;
    min-width: 160px;
    opacity: 0.8;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #d1deef;
}
.dropdown:hover .dropdown-content {
    display: block;
}
div.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 50%;
    position: relative;
    left: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    overflow: auto;
    background: #acb7ca;
    padding: 1%;
    margin-bottom: 20%;
}
div.main_signup {
    height: 90%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
table[class*="table_"] {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}
table#table_submit {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
hr {
    margin-right: 1%;
    margin-left: 1%;
    color: #3c485e;
}
div.main_title {
    margin-top: 2%;
    margin-bottom: 1%;
}
input[type="text"], input[type="password"], input[type="date"], input[type="tel"] {
    width: 450px;
    height: 20px;
    margin-right: 3%;
}
input[name="name"], input[name="gender"], input[name="birthday"] {
    margin-left: 18%;
}
input[id="email"], input[id="phone"], input[type="tel"] {
    margin-left: 10%;
}
div.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5%;
    width: 95%;
}
div.copyright {
    position: absolute;
    right: 10%;
}