<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout_fixed.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <header>Header</header>
            <div class="navigation">Navigation</div>
        </div>
        <div class="main">
            <div class="side_content_1">Content</div>
            <div class="main_content">Main Content</div>
            <div class="side_content_2">Side Content</div>
        </div>
        <div class="footer">
            <footer>Footer</footer>
        </div>
    </div>
</body>
</html>