<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <link rel="stylesheet" href="layout_article.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Article title</h1>
        </div>
        <div class="main">
            <div class="main_article">
                <h2>Article subtitle</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim hic voluptatum doloribus minus iste commodi sit odio explicabo minima quasi laborum, mollitia, blanditiis, eius fuga cupiditate ad iure possimus corrupti.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum rem, ipsam officiis fugit laborum aliquid nobis exercitationem eum totam possimus molestiae. Nesciunt, ducimus tempore. Aliquid ad exercitationem commodi qui labore.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe molestias, quas excepturi ipsa doloribus omnis doloremque sed amet debitis sapiente voluptates ipsum animi maxime sit cum repellendus architecto quaerat inventore.
                </p>
            </div>
            <div class="main_references">
                <h2>References</h2>
                <ol>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>consectetur adipisicing elit</li>
                    <li>Vero earum animi aut vel voluptatum labore</li>
                    <li>corporis temporibus a libero optio. Mollitia</li>
                    <li>fuga repellat unde accusamus distinctio accusantium</li>
                </ol>     
            </div>
        </div>
        <div class="footer">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aut tempore quo accusamus voluptatem aliquid iure non rerum rem? Aperiam, ea cum? Ullam consequuntur aut quod deleniti totam incidunt aspernatur!</p>
        </div>
    </div>
    
</body>
</html>